html
    head
    style
    body
        div
            ul
                li
                    input(type="text",id="ll")
                li
                    input(type="text",id="22")
                li
                    input(type="text",id="33")